In [30]:
import pandas as pd
df=pd.read_csv('adult.data.csv')

In [4]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

### [Q] How many men and women (sex feature) are represented in this dataset?

In [5]:
df['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

### [Q] What is the average age (age feature) of women?

In [7]:
# method 1
df[df.sex=='Female']['age'].mean()

# method 2
female_ages = df[df['sex'] == 'Female']
female_ages.age.mean()

36.85823043357163

## [Q] What is the percentage of German citizens (native-country feature)?

In [76]:
# method 1
german_count=df[df['native-country']=='Germany']['native-country'].value_counts()
total_count=df['native-country'].count()
print('German People Count :', german_count,'Out of : ',total_count)
print('Percentage of german people is : ',(german_count/total_count)*100)
print('\n')

#method 2
print('German Citizens % = ',(df[df['native-country'] == 'Germany'].size / df.columns.size) / (df.size / df.columns.size) * 100)

German People Count : Germany    137
Name: native-country, dtype: int64 Out of :  32561
Percentage of german people is :  Germany    0.420749
Name: native-country, dtype: float64


German Citizens % =  0.42074874850281013

### [Q] What are the mean and standard deviation of age for those who earn more than 50K per year (salary feature) and those who earn less than 50K per year?

In [36]:
sal_high = df[df['salary'] == '>50K']
sal_low = df[df['salary'] == '<=50K']

print('High Salary Profile Details')
print('Mean = ', sal_high.age.mean())
print('Standard Deviation = ', sal_high.age.std())
print('\n')
print('Low Salary Profile Details')
print('Mean = ', sal_low.age.mean())
print('Standard Deviation = ', sal_low.age.std())

High Salary Profile Details
Mean =  44.24984058155847
Standard Deviation =  10.51902771985177


Low Salary Profile Details
Mean =  36.78373786407767
Standard Deviation =  14.020088490824813

### [Q] Is it true that people who earn more than 50K have at least high school education? (education â€“ Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters or Doctorate feature)

In [77]:
# method 1
if df[df.salary=='>50K']['education'].str.contains('Preschool').any() == False:
    print('No')
else:
    print('Yes')

#method 2
print('No' if (df[df['salary'] == '>50K']['education'] == 'Preschool').any() == False else 'Yes')

No
No

### [Q] Display age statistics for each race (race feature) and each gender (sex feature). Use groupby() and describe(). Find the maximum age of men of Amer-Indian-Eskimo race.

In [55]:
# method 1
# This describes only required solution for the question...
df.groupby('race')['age'].describe()
df[df.race=='Amer-Indian-Eskimo']['age'].max()

# method 2
# Signifies first part of question and also provides the solution
columns_to_show = ['age', 'sex']
df.groupby('race')[columns_to_show].describe() #execute this without print statement to obtain max values as well

print('Max Age of Amer-Indian-Eskimo race: ', df[df['race'] == 'Amer-Indian-Eskimo'].age.max())

Max Age of Amer-Indian-Eskimo race:  82

### [Q] Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (marital-status feature)? Consider as married those who have a marital-status starting with Married (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.

In [60]:
#df[df['marital-status'][5]=='Married']['salary']


married_count=df[(df['marital-status'].str.startswith("Married")) & (df['salary']=='>50K') & (df['sex']=='Male')]['salary'].count()

unmarried_count=df[(~df['marital-status'].str.startswith("Married")) & (df['salary']=='>50K') & (df['sex']=='Male')]['salary'].count()

print('Married are:', married_count)
print('Un-Married are: ', unmarried_count)

print('Ratio = ', married_count, '/', unmarried_count)

Married are: 5965
Un-Married are:  697
Ratio =  5965 / 697

### [Q] What is the maximum number of hours a person works per week (hours-per-week feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?

In [68]:
max_no_hours = df['hours-per-week'].max()
print('Maximum number of hours a person works per week is: ', max_no_hours)

max_people = df[df['hours-per-week']==max_no_hours]['sex'].count()
print('Number of people who work max hour: ', max_people)

max_rich_people = df[(df['salary']=='>50K') & (df['hours-per-week'] == max_no_hours)]['salary'].count()
print('Percentage of rich hard working people = ',(max_rich_people / max_people) * 100)

Maximum number of hours a person works per week is:  99
Number of people who work max hour:  85
Percentage of rich hard working people =  29.411764705882355

### [Q] Count the average time of work (hours-per-week) for those who earn a little and a lot (salary) for each country (native-country). What will these be for Japan?

In [75]:
earn_more = df[df['salary'] == '>50K']
earn_less = df[df['salary'] == '<=50K']

print('Average time of work of high earning people = ', earn_more['hours-per-week'].mean())
print('Average time of work of low earning people = ', earn_less['hours-per-week'].mean())
print('\n')
print('Japan Details')
print('Average time of work of high earning people = ', earn_more[earn_more['native-country'] == 'Japan']['hours-per-week'].mean())
print('Average time of work of low earning people = ', earn_less[earn_less['native-country'] == 'Japan']['hours-per-week'].mean())

Average time of work of high earning people =  45.473026399693914
Average time of work of low earning people =  38.840210355987054


Japan Details
Average time of work of high earning people =  47.958333333333336
Average time of work of low earning people =  41.0