# Basics of Machine Learning using Decision Tree

![](https://www.clipartwiki.com/clipimg/full/99-992888_eastern-black-walnut-english-walnut-drawing-tree-walnut.png)

<div style="text-align: right"><i><font size="2">Author: <a href="https://www.linkedin.com/in/manoj95/" target="_parent">Manoj Chandrashekar (M)</a></font></i></div>

In [1]:
import pandas as pd

# Read the data and store it in DataFrame
melbourne_file_path = 'C:\\Users\\itsma\\Documents\\Python Scripts\\Data Sets\\melb_data.csv'
melbourne_data = pd.read_csv(melbourne_file_path)

# Print
melbourne_data.describe()

,Unnamed: 0,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,18396.000000,18396.000000,1.839600e+04,18395.000000,18395.000000,14927.000000,14925.000000,14820.000000,13603.000000,7762.000000,8958.000000,15064.000000,15064.000000,18395.000000
mean,11826.787073,2.935040,1.056697e+06,10.389986,3107.140147,2.913043,1.538492,1.615520,558.116371,151.220219,1965.879996,-37.809849,144.996338,7517.975265
std,6800.710448,0.958202,6.419217e+05,6.009050,95.000995,0.964641,0.689311,0.955916,3987.326586,519.188596,37.013261,0.081152,0.106375,4488.416599
min,1.000000,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,5936.750000,2.000000,6.330000e+05,6.300000,3046.000000,2.000000,1.000000,1.000000,176.500000,93.000000,1950.000000,-37.858100,144.931193,4294.000000
50%,11820.500000,3.000000,8.800000e+05,9.700000,3085.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.803625,145.000920,6567.000000
75%,17734.250000,3.000000,1.302000e+06,13.300000,3149.000000,3.000000,2.000000,2.000000,651.000000,174.000000,2000.000000,-37.756270,145.060000,10331.000000
max,23546.000000,12.000000,9.000000e+06,48.100000,3978.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [2]:
# Display all the columns from the data set
melbourne_data.columns

Index(['Unnamed: 0', 'Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method',
       'SellerG', 'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom',
       'Car', 'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea',
       'Lattitude', 'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [3]:
# count of records in Data Frame
melbourne_data.shape[0]

18396

In [4]:
# dropna drops missing values (NA - Not Available)
melbourne_data = melbourne_data.dropna(axis = 0)

# count of records in Data Frame after dropping missing values
melbourne_data.shape[0]

6196

In [5]:
# Selecting prediction target
y = melbourne_data.Price

y.head()

1    1035000.0
2    1465000.0
4    1600000.0
6    1876000.0
7    1636000.0
Name: Price, dtype: float64

In [6]:
# Choosing features
melbourne_features = ['Rooms', 'Bathroom', 'Landsize', 'Longtitude', 'Lattitude']

X = melbourne_data[melbourne_features]

In [7]:
X.describe

<bound method NDFrame.describe of        Rooms  Bathroom  Landsize  Longtitude  Lattitude
1          2       1.0     156.0   144.99340  -37.80790
2          3       2.0     134.0   144.99440  -37.80930
4          4       1.0     120.0   144.99410  -37.80720
6          3       2.0     245.0   144.99930  -37.80240
7          2       1.0     256.0   144.99540  -37.80600
...      ...       ...       ...         ...        ...
15388      3       2.0     972.0   145.13282  -37.51232
15389      3       1.0     179.0   144.90474  -37.86558
15390      1       1.0       0.0   144.89936  -37.85588
15392      2       1.0       0.0   144.99025  -37.85581
15395      6       3.0    1087.0   144.89389  -37.81038

[6196 rows x 5 columns]>

In [8]:
X.head()

   Rooms  Bathroom  Landsize  Longtitude  Lattitude
1      2       1.0     156.0    144.9934   -37.8079
2      3       2.0     134.0    144.9944   -37.8093
4      4       1.0     120.0    144.9941   -37.8072
6      3       2.0     245.0    144.9993   -37.8024
7      2       1.0     256.0    144.9954   -37.8060

In [9]:
from sklearn.tree import DecisionTreeRegressor

# Defining the model
melbourne_model = DecisionTreeRegressor(random_state = 1)

# Fitting the model
melbourne_model.fit(X,y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=1, splitter='best')

In [28]:
print('Predicting for first 5 houses')
print(X.head(), end = '\n\n')

print('Predicted Prices Are:')
print(melbourne_model.predict(X.head()), end = '\n\n')

print('Actual Prices Are:')
print(y.head())

Predicting for first 5 houses
   Rooms  Bathroom  Landsize  Longtitude  Lattitude
1      2       1.0     156.0    144.9934   -37.8079
2      3       2.0     134.0    144.9944   -37.8093
4      4       1.0     120.0    144.9941   -37.8072
6      3       2.0     245.0    144.9993   -37.8024
7      2       1.0     256.0    144.9954   -37.8060

Predicted Prices Are:
[1035000. 1465000. 1600000. 1876000. 1636000.]

Actual Prices Are:
1    1035000.0
2    1465000.0
4    1600000.0
6    1876000.0
7    1636000.0
Name: Price, dtype: float64

In [12]:
# Let us validate the model
from sklearn.metrics import mean_absolute_error

predicted_house_prices = melbourne_model.predict(X)
mean_absolute_error(y, predicted_house_prices)

# This difference is also huge for model to predict with such weak accuracy but we have not tested with new data

69393.91510652033

In [13]:
# We will use train_test_split to split the data and validate

from sklearn.model_selection import train_test_split

train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 0)

melbourne_model = DecisionTreeRegressor()

melbourne_model.fit(train_X, train_y)

val_predictions = melbourne_model.predict(val_X)

print('Mean Absolute Error = ', mean_absolute_error(val_y, val_predictions))

Mean Absolute Error =  275053.8992898644

In [14]:
from sklearn.metrics import mean_absolute_error
from sklearn.tree import DecisionTreeRegressor

def get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y):
    model = DecisionTreeRegressor(max_leaf_nodes = max_leaf_nodes, random_state = 0)
    model.fit(train_X, train_y)
    pred_val = model.predict(val_X)
    mae = mean_absolute_error(val_y, pred_val)
    return(mae)

In [15]:
# The data is already loaded into train_X, val_X, train_y and val_y using the code which we have written
# Compare MAE witth differing values of max_leaf_nodes

for max_leaf_nodes in [5, 50, 500, 5000]:
    my_mae = get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y)
    print("Max Leaf Nodes: %d\t\t Mean Absolute Error:%d"%(max_leaf_nodes, my_mae))

Max Leaf Nodes: 5		 Mean Absolute Error:385696
Max Leaf Nodes: 50		 Mean Absolute Error:279794
Max Leaf Nodes: 500		 Mean Absolute Error:262650
Max Leaf Nodes: 5000		 Mean Absolute Error:274002